
body{

    text-align: center;
    background:rgba(112, 190, 211, 0.267);
    font-family: 'Times New Roman', Times, serif;
}


body h1,h2{

    
    padding-top: 10%;
 }

 body h1{

    
    padding-bottom: 10px;
 }



table, th, td {
    margin-left: 20%;
    margin-right: 20%;
    margin-top: 5%;
    border: 1px solid black;
}

table td:hover{
    background: #fff;
    
    color: #333;

}

.outer{
    margin-top: 20px;

    display: flex;
    justify-content: space-evenly;
    margin-bottom: 30px;

    
}

.outer img{


    border-radius: 20px;
}
