*{
margin: 0;

font-family: "Times New Roman", Times, serif;

}
.outer{
	margin-top: 1%;
	padding-right: 3%;
}
.banner {
	
		width: 35%;
		height: 5.5rem;
		float: right;
       
		border: 5px ;
		
		border-radius: 10px;
       
        background-color: #a04b059d;
        text-align: center;
        
      
}
.container{
	
    width: auto;
	margin: auto;
	
}

body{
    background-image: url("home.jpg");
    height: 100vh;
    -webkit-background-size: cover;
	background-size: cover;
	background-position: center center;
	position: relative;

}
.nav-bar {
	border: 5px ;
	height: 23px;
	background-color:#a04b059d;
	border-radius: 10px;
	float: left;
	list-style: none;
   padding-left: 0;
	margin-left: 1%;
	padding-top: 4px;
}
.nav-bar li {
	display: inline-block;
}
.nav-bar li a {
	color: #fff;
	text-decoration: none;
	padding: 5px 20px;
	font-family: poppins;
	font-size: 16px;
	text-transform: uppercase;
}
.nav-bar li a:hover {
	background: #fff;
	border-radius: 10px;
	color: #333;
}


