*{
margin: 0;

font-family: "Times New Roman", Times, serif;


}

body{
	

	background-image: url("11.jpg");
	height: 80vh;
	-webkit-background-size: cover;
	background-size: cover;
	background-position: center center;
	position: relative;


} 
.outer{
	margin-top: 1%;
	
	padding-right: 3%;
}
.banner {
	
		width: 35%;
		height: 20%;
		float: left;
		margin-right: 20.5%;
       
		border: 5px ;
		
		border-radius: 10px;
       
        background-color: #2980a371;
        text-align: center;
        
      
}
 .outer-log{
	width: 150px;
	height: 95px;
	/* border: 8px solid;
	border-color: rgba(0, 0, 0, 0.87);
	border-radius: 30px; */
	margin-right: 20px;
	float: right;
} 


.outer-log img{
	width: 110px; height: 90px;
	 border: 8px #2980a371 solid;
	 border-radius: 20px;

}

.container{
	
    width: auto;
	margin: auto ;
	
}


.nav-bar {
	border: 5px ;
	height: 23px;
	background-color:#2980a371;
	border-radius: 10px;
	float: left;
	list-style: none;
   	padding-left: 0;
	margin-right: 20%;
	
	margin-top: 3px;
	padding-top: 4px;
}
.nav-bar li {
	display: inline-block;
}
.nav-bar li a {
	color: #fff;
	text-decoration: none;
	padding: 5px 20px;
	font-family: poppins;
	font-size: 16px;
	text-transform: uppercase;
}
.nav-bar li a:hover {
	background: #fff;
	border-radius: 10px;
	color: #333;
}


