*{
    margin: 0;
 
  
}



body .container{
	
        width: auto;
        height: auto;
       
    
        
    }
    
    body .nav-bar {
    border: 5px ;
	height: 23px;
	background-color:#2980a371;
	border-radius: 10px;
	float: left;
	list-style: none;
   padding-left: 0;
    margin-left: 1%;
    margin-top: 1%;
    padding-top: 5px;
   

}

body .nav-bar li {
        display: inline-block;
}
body .nav-bar li a {
        color:white;
        text-decoration: none;
        padding: 5px 20px;
        font-family: poppins;
        font-size: 16px;
        text-transform: uppercase;
}
.nav-bar li a:hover {
        background: #fff;
        border-radius: 8px;
        color: #333;
}

body{

    text-align: center;
    background:rgba(112, 190, 211, 0.267);
}
body h1{

    
    padding-top: 8%;
 }
 .outer-log{
	width: 150px;
	height: 95px;
	/* border: 8px solid;
	border-color: rgba(0, 0, 0, 0.87);
	border-radius: 30px; */
	margin-right: 20px;
	float: right;
} 


.outer-log img{
	width: 110px; height: 90px;
	 border: 8px #2980a371 solid;
	 border-radius: 20px;

}


table, th, td {
    margin-left: 20%;
    margin-right: 20%;
    margin-top: 5%;
    border: 1px solid black;
}

table td:hover{
    background: #fff;
    
    color: #333;

}