
body{

    text-align: center;
    background:rgba(112, 190, 211, 0.267);
}
body h1{

    
    padding-top: 8%;
 }
 .outer-log{
	width: 150px;
	height: 95px;
	/* border: 8px solid;
	border-color: rgba(0, 0, 0, 0.87);
	border-radius: 30px; */
	margin-right: 20px;
	float: right;
} 


.outer-log img{
	width: 110px; height: 90px;
	 border: 8px #2980a371 solid;
	 border-radius: 20px;

}


body .container{
	
    width: auto;
    height: auto;
   

    
}



table, th, td {
    margin-left: 20%;
    margin-right: 20%;
    margin-top: 5%;
    border: 1px solid black;
}

table td:hover{
    background: #fff;
    
    color: #333;

}