*{
    margin: 0;
 
  
}



body .container{
	
        width: auto;
        height: auto;
       
    
        
    }
    
    body .nav-bar {
    border: 5px ;
	height: 23px;
	background-color:#2980a371;
	border-radius: 10px;
	float: left;
	list-style: none;
   padding-left: 0;
    margin-left: 1%;
    margin-top: 1%;
    padding-top: 5px;
   

}

body .nav-bar li {
        display: inline-block;
}
body .nav-bar li a {
        color:white;
        text-decoration: none;
        padding: 5px 20px;
        font-family: poppins;
        font-size: 16px;
        text-transform: uppercase;
}
.nav-bar li a:hover {
        background: #fff;
        border-radius: 8px;
        color: #333;
}
body{

    background:rgba(112, 190, 211, 0.267);
}
.main-sports{

    padding-top: 80px;
    text-align: center;
    
  
  
}
p {

padding-bottom: 20px;

}


.main-sports ul {
    
    list-style: none;
    display: flex;
    padding-left: 30%;
    padding-right: 30%;
	
   
    
}

.main-sports ul li ul{
    display: flex;
    flex-direction: column;
   justify-content: space-evenly;
    text-align: center;
}
.main-sports ul li ul a {
    color: rgb(32, 30, 30);
    text-decoration: none;
    
    font-family: poppins;
    font-size: 15px;
    text-transform: uppercase;
    
    
    
}


  .box {
    text-align: center;
    background:#2980a371;
    /* color: white; */
    width: 160px;
    height: 120px;
    border: 1px solid black;
    border-radius: 5px;
    margin: 5px;
    


  }
  
  .s-part{
    display: flex;
   
   justify-content: space-evenly;
    text-align: center;

  }

.s-part .box {
    text-align: center;
    background:#2980a371;
    color:white;
    width: 30%;
    height: 400px;
    border: 1px solid black;
    
    margin: 5px;
    
  }
  .sea-part .box img{

    padding-top: 4px; width: 5px; height: 50% ;
  }

  .main-sports ul li ul a:hover {
    background: rgb(10, 10, 10);
    border-radius: 7px;
    color:white;
}