



body{

    background:rgba(112, 190, 211, 0.267);
    font-family: 'Times New Roman', Times, serif;
}

body .container{
	
  width: auto;
  height: auto;
 

  
}

.main-sports{

    padding-top: 80px;
    text-align: center;
    
  
  
}
p {

padding-bottom: 20px;

}


.main-sports ul {
    
    list-style: none;
    display: flex;
    padding-left: 30%;
    padding-right: 30%;
	
   
    
}

.main-sports ul li ul{
    display: flex;
    flex-direction: column;
   justify-content: space-evenly;
    text-align: center;
}
.main-sports ul li ul a {
    color: rgb(32, 30, 30);
    text-decoration: none;
    
    font-family: poppins;
    font-size: 12px;
    text-transform: uppercase;
    
    
    
}


  .box {
    text-align: center;
    background:#2980a371;
    /* color: white; */
    width: 30%;
    height: 130px;
    border: 1px solid black;
    border-radius: 5px;
    margin: 5px;
    


  }
  
  .s-part{
    display: flex;
   
   justify-content: space-evenly;
    text-align: center;

  }

.s-part .box {
    text-align: center;
    background:#2980a371;
    color:white;
    width: 30%;
    height: 400px;
    border: 1px solid black;
    
    margin: 5px;
    
  }
  .sea-part .box img{

    padding-top: 4px; width: 5px; height: 50% ;
  }

  .main-sports ul li ul a:hover {
    background: rgb(10, 10, 10);
    border-radius: 7px;
    color:white;
}